footer{
    background-color: aquamarine;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4vh 0 4vh 0;
        span{
            margin-left: 1vw;
        }
    }
}