@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Girassol&family=Oswald:wght@300&family=Roboto&display=swap');
$fontcolor1: black;
$fontcolor2: white;
$fontsize1: 1rem;
$fontsize2: 2rem;
$fontsize3: 3rem;
$fontsize4: 0.5rem;
$background: aquamarine;
$background1: linear-gradient(360deg,
        rgba(177, 255, 250, 0.5) 0%,
        #adecfa);
$background2: linear-gradient(360deg,
        rgba(56, 250, 8, 0.842) 0%,
        #d3f1ca);
$color1: red;
$color2: rgb(38, 166, 209);
$font1: 'Bebas Neue', cursive;
$font2: 'Girassol', cursive;
$font3: 'Oswald', sans-serif;
$font4: 'Roboto', sans-serif;